<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block navbar %}

    {% endblock %}

    {% block filter %}

    {% endblock %}

    {% block event_list %}

    {% endblock %}

    {% block pagination %}

    {% endblock %}
</body>

<script>
    const avatar = document.getElementById('userAvatar');
    const dropdown = document.getElementById('userDropdown');

    avatar.addEventListener('click', function (e) {
        e.stopPropagation();
        dropdown.style.display =
            dropdown.style.display === 'block' ? 'none' : 'block';
    });

    document.addEventListener('click', function () {
        dropdown.style.display = 'none';
    });
</script>

</html>